<!DOCTYPE html>
<html>
  <head>
    <title>Moon Phase</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Lobster" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../styles.css" media="screen" />

  </head>
  <body>
    <h1>{{name}}</h1>
    <div class="images">
     <img class="images" src= '../images/{{image}}'><br>
   
    {{next_date}}
    <ul>
    {{#each activities}}
    
    
    <h2><li>{{this}}</li></h2>
    {{/each}}
   </ul> 
   </div>
    <button id="btn" onclick="location.href = '/addPhaseActivity/{{id}}';">Add activity to moon phase.</button>
    <h3><a href="javascript:history.back()">Go to moon phase home</a></h3>
  </body>
</html>